* {
  margin: 0;
  padding: 0;
}
.nav-menu {
  list-style: none;
  text-align: right;
  margin: 0.5% 0.5% 3% 0;
}

ul li {
  display: inline-flex;
  margin: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
#user-icon {
  background-color: rgb(70, 62, 62);
  color: #fff;
  padding: 0.5%;
  border-radius: 50%;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.googleSearch {
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}

.googleSearch h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5rightm;
}
.search-wraper {
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  margin: 2% 28%;
}

.search-wraper:hover {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}
#searchBar {
  border: 0;
  width: 90%;
  line-height: 2.5rem;
  margin: 0 5%;
}
#searchBar:focus {
  outline: none !important;
}

#searchIcon {
  padding-left: 5%;
  color: lightgray;
}

#googleMic {
  height: 30px;
  padding-right: 3%;
  cursor: pointer;
}

#carbonLogo {
  width: 7%;
  height: 7%;
  margin: 0 2%;
}
.buttons button {
  border: 0;
  padding: 10px;
  margin: 0 5px;
  width: 8rem;
  background-color: #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover {
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid #d1d5d8;
}

.bellowLinks {
  font-size: 13.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.bellowLinks a {
  color: #1a0db2;
}
.bellowLinks ul {
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: gray;
}

.footer a {
  color: gray;
}
.top-footer {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.bottom-footer {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
